.main-slider-container .swiper {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: visible !important;
    user-select: none;
}

.main-slider-container .swiper-slide {
    background-position: center;
    background-size: cover;
    border-radius: 1rem !important;
    transform: scale(.5) !important;
}

.main-slider-container .swiper-slide-active {
    transform: scale(1) !important;
    box-shadow: 0px 0px 85px 42px rgba(0, 0, 0, 1);
}

.main-slider-container .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem !important;
}

.main-slider-container .swiper-slide-next {
    z-index: -1 !important;
}

@media (min-width: 320px) {

    .swiper,
    .swiper-slide {
        width: 296px;
        height: 444px;
    }
}

@media (min-width: 744px) {

    .swiper,
    .swiper-slide {
        width: 310px;
        height: 464px;
    }
}

@media (min-width: 1560px) {

    .swiper,
    .swiper-slide {
        width: 447px;
        height: 669px;
    }
}

.sub-slider-container .swiper {
    width: 100%;
    /* height: 105px; */
}

.sub-slider-container .swiper-slide {
    color: #fff;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;

    padding-top: 32px;
}

@media (min-width: 320px) {

    .sub-slider-container .swiper-slide,
    .sub-slider-container .swiper{
        height: 105px;
    }
}

@media (min-width: 744px) {

    .sub-slider-container .swiper-slide,
    .sub-slider-container .swiper{
        height: 135px;
    }
}

@media (min-width: 1560px) {

    .sub-slider-container .swiper-slide,
    .sub-slider-container .swiper{
        height: 135px;
    }
}