.show-modal {
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    font-size: 1.2rem;
    padding: 15px 22px;
    background: #1e1b2b;
    transition: 0.3s ease;
    box-shadow: 0 10px 18px rgba(52, 87, 220, 0.18);
}

.show-modal:hover {
    background: #433a68;
}

.bottom-sheet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.1s linear;
}

.bottom-sheet.show {
    opacity: 1;
    pointer-events: auto;
}

.bottom-sheet .sheet-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
}

.bottom-sheet .content {
    width: 100%;
    position: relative;
    max-height: 100vh;
    height: 50vh;
    transform: translateY(100%);
    border-radius: 12px 12px 0 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
    transition: 0.3s ease;
}

.bottom-sheet.show .content {
    transform: translateY(0%);
}

.bottom-sheet.dragging .content {
    transition: none;
}

.bottom-sheet.fullscreen .content {
    border-radius: 0;
    overflow-y: hidden;
}

.bottom-sheet .header {
    display: flex;
    justify-content: center;
}

.header .drag-icon {
    cursor: grab;
    user-select: none;
    padding: 15px;
    margin-top: -15px;
}

.header .drag-icon span {
    height: 5px;
    width: 181px;
    display: block;
    background: #fff;
    border-radius: 50px;
}

.bottom-sheet .body {
    height: 100%;
    overflow-y: auto;
    padding: 15px 0 40px;
    scrollbar-width: none;
}

.bottom-sheet .body::-webkit-scrollbar {
    width: 0;
}

.bottom-sheet .body h2 {
    font-size: 1.8rem;
}

.bottom-sheet .body p {
    margin-top: 20px;
    font-size: 1.05rem;
}

.image {
    margin-top: 20px;
    width: 300px;
    height: 240px;
    border-radius: 12px;
}

@media (min-width: 320px) {
    .bottom-sheet{
        display: flex;
    }
}

@media (min-width: 744px) {
    .bottom-sheet{
        display: none;
    }
}

@media (min-width: 1560px) {
    .bottom-sheet{
        display: none;
    }
}