:root {
  --black: #141414;
  --black-600: rgba(20, 20, 20, .6);
  --black-400: rgba(20, 20, 20, .4);
  --black-200: rgba(20, 20, 20, .2);
  --black-100: rgba(20, 20, 20, .1);
  --black-40: rgba(20, 20, 20, .04);

  --white: #fff;
  --background: #ebebeb;
  --bg-number-list: #f6f6f6;
  --button-hover: #313131;

  --success: #35B55E;
  --failed: #C72424;

}

/* ===BASE=== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Onest", sans-serif;
    font-size: 18px;
}

body{
    overflow-x: hidden;
    position: relative;
}

.black{
    color: var(--black);
    fill: var(--black);
}

.black-600{
    color: var(--black-600);
    fill: var(--black-600);
}

.black-400{
    color: var(--black-400);
    fill: var(--black-400);
}

.black-200{
    color: var(--black-200);
    fill: var(--black-200);
}

.black-100{
    color: var(--black-100);
    fill: var(--black-100);
}

.black-40{
    color: var(--black-40);
    fill: var(--black-40);
}

.invisible-title{
    position: absolute;
    top: -999px;
    left: -999px;
}

/* ===BASE=== */


/* ===HEADER=== */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;

    z-index: 10;

    transform: translate(-50%, 0);
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li{
    list-style-type: none;
}

header  nav ul li a{
    text-decoration: none;
    color: #000;

    display: flex;
    flex-direction: column;
}

header nav ul li a::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
}

.header-controls{
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.flag-cont{
    column-gap: 12px;
    font-size: 16px;
    padding: 0 8px;
}

@media (min-width: 320px) {

    header{
        height: 61px;
        padding: 0 24px;
    }

    .delimetr,
    .flag-cont,
    header nav{
        display: none;
    }
}

@media (min-width: 744px) {

    
    header{
        height: 61px;
    }

    .header-content{
        padding: 0 24px;
    }

    .hamburger{
        display: block;
    }
    
    .delimetr,
    .flag-cont,
    header nav{
        display: none;
    }
}

@media (min-width: 1560px) {

    header{
        height: 90px;
        padding: 0 40px;
    }
    
    .header-content{
        padding: 0 40px;
    }

    .hamburger{
        display: none;
    }
    .delimetr,
    .flag-cont,
    header nav{
        display: flex;
    }
}
/* ===HEADER=== */


/* ===Первый экран=== */
main{
    margin-top: 90px;
}

.main-screen{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 32px;
    background-color: rgba(0, 0, 0, 1);
}

.main-bg-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115vh;

    display: flex;

    overflow-y: hidden;
    z-index: 1;
}

.main-bg-elem{
    /* height: 100vh; */
    display: block;
}

.main-bg-elem img{
    height: 100%;
    user-select: none;
    object-fit: cover;
}

.main-slider-container{
    width: auto;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 170px;
    
    z-index: 2;
}

.main-slider-content{
    overflow-x: hidden;
    overflow-y: visible;
}

.navigation-elem{
    position: relative;
    cursor: pointer;
}

.sub-slider-container{
    margin-bottom: 85px;
}

.sub-slider-container::before {
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, #fff 50%, rgba(0, 0, 0, 0) 100%);
  opacity: .2;
}

.sub-slider-container .slide-name{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 10%;
}

.sub-slider-container .slide-description{
    font-size: 24px;
    font-weight: 300;
}

@media (min-width: 320px) {

    main{
        margin-top: 61px;
    }

    .main-bg-wrapper{
        justify-content: flex-end;
        height: 100vh;
    }

    .main-slider-container{
        width: 100%;
        column-gap: 0;
    }
    
    .main-slider-content{
        width: 100%;
        height: 444px;
    }

    .main-slider-prev{
        left: 0;
    }

    .main-slider-next{
        right: 0;
    }

    .navigation-elem {
        position: absolute;
        z-index: 10;
    }

    
    .sub-slider-container{
        margin-bottom: 70px;
    }

    .sub-slider-container .slide-name{
        font-size: 24px;
    }
}

@media (min-width: 744px) {

    main{
        margin-top: 61px;
    }

    .main-bg-wrapper{
        justify-content: space-between;
        height: 100vh;
    }

    .main-slider-container{
        width: 775px;
        column-gap: 20px;
    }

    .main-slider-content{
        width: 100%;
        height: 464px;
    }

    .navigation-elem {
        position: relative;
        z-index: 10;
    }

    
    .sub-slider-container{
        margin-bottom: 91px;
    }

    .sub-slider-container .slide-name{
        font-size: 32px;
    }
}

@media (min-width: 1560px) {

    main{
        margin-top: 61px;
    }

    .main-bg-wrapper{
        justify-content: space-between;
        height: 115vh;
    }
    
    .main-slider-container{
        width: 1080px;
        column-gap: 40px;
    }

    .main-slider-content{
        width: 100%;
        height: 670px;
    }

    .navigation-elem {
        position: relative;
        z-index: 10;
    }

    .sub-slider-container{
        margin-bottom: 85px;
    }
    
    .sub-slider-container .slide-name{
        font-size: 32px;
    }
}

@media (min-width: 1921px) {
    .main-bg-wrapper{
        height: 100vh;
    }

}
/* ===Первый экран=== */


/* ===Список товаров=== */
.products-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-content{
    padding: 0 24px;
    margin-top: 120px;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 82px 50px;
}

.product-elem{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    cursor: pointer;
    justify-self: center;
}

.product-header{
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.product-name{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.product-price{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 320px) {
    .product-content{
        padding: 0 24px;
    }
    
    .product-list{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 744px) {
    .product-content{
        padding: 0 24px;
    }
    .product-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1560px) {
    .product-content{
        padding: 0 40px;
    }
    .product-list{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ===Список товаров=== */


/* ===Баннер=== */
.banner-content{
    background-image: url('./media/banner-1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 848px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 160px;
    padding-bottom: 40px;
}

.banner-description{
    width: 684px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    color: #fff;
    font-weight: 600;
    font-weight: 400;
    text-transform: uppercase;
}

.banner-sub-title{
    font-weight: 100;
    color: #fff;
    margin: 0 auto;
}

@media (min-width: 320px) {
    .banner-sub-title,
    .banner-description{
        width: 100%;
    }
    
    .banner-title{
        font-size: 32px;
    }
    
    .banner-description{
        padding: 0 32px;
    }
}

@media (min-width: 744px) {
    .banner-sub-title,
    .banner-description{
        width: 100%;
    }
    
    .banner-title{
        font-size: 36px;
    }

    .banner-description{
        padding: 0 32px;
    }
}

@media (min-width: 1560px) {
    .banner-sub-title{
        width: 456px;
        font-size: 20px;
    }

    .banner-title{
        font-size: 40px;
    }
    
    .banner-description{
        width: 684px;
    }
}

/* ===Баннер=== */


/* ===Подвал=== */
.logo-section{
    width: 100%;
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    padding: 40px;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.social-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 15px 39px;
    border-radius: 8px;
    color: #fff;
    background-color: #000;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    padding: 40px 0;
}

.agreement-link{
    color: var(--black);
}

.legal-alert{
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}
/* ===Подвал=== */


/* ===Модальное окно карточки товара=== */
.product-modal{
    display: flex;
    flex-direction: column;
}

.product-slider{
    width: 440px;
    height: 552px;
    border-radius: 24px 24px 0 0;
}

.bottom-sheet .product-slider{
    width: 100%;
}

.product-options{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    background: #fff;
    border-radius: 24px;
    padding: 24px 16px 16px 16px;

    transform: translate(0, -47px);
    z-index: 10;
}

.option-title{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 800;
}

.option-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px 8px;
}

.size-item-container{
    width: 56px;
    height: 56px;
}

.size-item-container input[type="radio"],
.color-item-container input[type="radio"]{
    position: absolute;
    top: -999px;
    left: -999px;
}

.size-item{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(20, 20, 20, 1);
    border-radius: 4px;
    padding: 13px 0;
    cursor: pointer;
}

.size-item-container input[type="radio"]:disabled ~ .size-item{
    cursor: default;
    background-color: rgba(20, 20, 20, 0.04);
    border-color: rgba(20, 20, 20, 0.04);
    color: rgba(20, 20, 20, 0.04);
    cursor: not-allowed;
}

.size-item-container input[type="radio"]:checked ~ .size-item{
    border-width: 3px;
}

.size-name{
    font-weight: 700;
}

.size-num{
    color: rgba(20, 20, 20, 0.4);
}

.color-item-container{
    width: 48px;
    height: 48px;
}

.color-item{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 4px;
    border-radius: 50px;
    display: block;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
}

.color-item span{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(20, 20, 20, 0.2);
}

.color-item-container input[type="radio"]:checked ~ .color-item{
    border-color: #000;
}

.color-item-container input[type="radio"]:disabled ~ .color-item{
    border-color: #842029;
    border-width: 2px;
    cursor: not-allowed;
}

.color-item-container input[type="radio"]:disabled ~ .color-item::after{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    transform: rotate(45deg) translate(-15px, -10px);
    background-color: #842029;
}

.product-option-controls{
    display: flex;
}

.product-modal-price{
    font-size: 24px;
    font-weight: 500;
    
    display: block;
    padding: 15px 28px;
}

.add-to-cart{
    background-color: rgba(205, 36, 36, 1);
    color: #fff;
    flex: 1;
    text-align: center;
    padding: 21px 0;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}


.add-to-cart img{
    transition: all .2 ease-out;
}

.add-to-cart:hover{
    background-color: rgba(249, 24, 24, 1);
    transition: all .2s ease-out;
}

.add-to-cart:active{
    background-color: rgba(205, 36, 36, 1);
    transition: all .2s ease-out;
}

.add-to-cart:active img{
    transform: scale(1.1);
}

.cart img{
    display: none;
}

.cart .num-products-in-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #C72424;
    color: #fff;
    cursor: pointer;
}

.cart-empty .num-products-in-cart{
    display: none;
}

.cart-empty img{
    display: block;
}

.priduct-modal-name {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -94px);
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 320px) {
    .social-section{
        flex-direction: column;
    }

    .social-link{
        width: 100%;
    }
}

@media (min-width: 744px) {
    .social-section{
        flex-direction: column;
    }

    .social-link{
        width: auto;
    }
}

@media (min-width: 1560px) {
    .social-section{
        flex-direction: row;
    }
    
    .social-link{
        width: auto;
    }
}
/* ===Подвал=== */


/* ===Бургер меню=== */
.hamburger-menu{
    position: fixed;
    top: 61px;
    right: 0;
    width: 100%;
    height: calc(100vh-61px);
    display: flex;
    transform: translate(-100%, 0);

    background-color: #fff;

    transition: all .4s ease-out;
    z-index: 11;
}

.hamburger-menu-is-active{
    transform: translate(0, 0);
}

.hamburger-bg {
    height: 100vh;
    transform: translate(0, 600px);
    pointer-events: none;
    transition: all .4s ease-out;
}

.hamburger-menu-is-active .hamburger-bg{
    transform: translate(0, -60px);
}

.hamburger-nav {
    flex: 1;
    padding: 24px;
}

.hamburger-menu a{
    text-decoration: none;
    color: #000;
}

.hamburger-nav-item{
    list-style-type: none;
    padding: 0;
}

.hamburger-nav-item-container{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.hamburger-nav-item-wrapper{
    padding: 24px 0 24px 0;
}

.hamburger-nav-item::after {
    content: '';
    height: 1px;
    width: calc(100% - (146px - 28px));
    position: absolute;
    background-color: #1414141A;
    display: block;
}

.hamburger-nav-item:last-child .hamburger-nav-item-wrapper{
    padding: 24px 0 0 0;
}

.hamburger-nav-item:last-child::after{
    display: none;
}

.hamburger-nav-item:first-child .hamburger-nav-item-wrapper{
    padding: 0 0 24px 0;
}

.hamburger-nav-item-title{
    color: #14141433;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.hamburger-nav-item-content{
    display: flex;
    column-gap: 16px;
}

.hamburger-nav-item-content a{
    font-size: 16px;
}

.hamburger-lang-row{
    display: flex;
    column-gap: ;
}

.hamburger-menu .flag-cont{
    display: flex;
}

@media (min-width: 320px) {
    .hamburger-menu{
        display: flex;
    }
}
@media (min-width: 744px) {
    .hamburger-menu{
        display: flex;
        padding: 0 24px;
    }
}

@media (min-width: 1560px) {
    .hamburger-menu{
        display: none;
    }
}
/* ===Бургер меню=== */


.flag-wrapper {
    position: relative; /* Важно для привязки тултипа */
    display: inline-block;
}

.flag-tooltip {
    display: none; /* Скрыт по умолчанию */
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 4px;
    z-index: 100;
    min-width: 120px;
    padding: 8px 0;
}

/* Класс для отображения */
.flag-tooltip.is-active {
    display: block;
}

.flag-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flag-list li a {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    transition: background 0.2s;
}

.flag-list li a:hover {
    background: #f5f5f5;
}

.flag-list img {
    width: 20px;
    margin-right: 8px;
}


@media (min-width: 320px) {
    .container{
        width: 100%;
    }
}

@media (min-width: 744px) {
    .container{
        width: 100%;
    }
}

@media (min-width: 1560px) {
    .container{
        width: 1560px;
    }
}